
.Group{
    display: flex;
    background-color: darkslategray;
    color:wheat;
    margin:10px 10px 10px 10px;
}

.GroupName:hover{
    cursor: pointer;
    color:tomato;
    }

.GroupName{
    margin: 1px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    font-size:14pt;
    letter-spacing: 2pt;
    text-align: center;
}

.GroupSummary{
    margin: 10px 10px 10px 10px;
    font-size:10pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media (min-width:500px){
    .Group{
        margin: 10px 10px 10px 10px;
        padding: 10px 10px 10px 10px;
        width:25%;
        background-color: darkslategray;
        color:wheat;
    }    
}

@media (min-width:1000px){
    .Group{
        margin: 10px 10px 10px 10px;
        padding: 10px 10px 10px 10px;
        width:28%;
        background-color: darkslategray;
        color:wheat;
    }    
}